/* Color Palette

  Greens:
    Bright: #6ff
    Normal: #0fc
    Dark: #097;
  Reds:
    Bright: #f6a
    Normal: #f07
    Dark: #903
*/

*{
  -webkit-transition: all 0.1s ease-in-out;
}

html{
  width: 100%;
  background: #222;
  color: #ccc;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2em;
  letter-spacing: 1px;

  text-align: center;
}

body{
  font-size: 14px;
  font-weight: 300;
  color: #aaa;
  margin: 32px;
  text-align: left;
}

h1 {
  font-size: 36px;
  font-weight: 100;
  color: #0fc;
  text-align: center;
  letter-spacing: 4px;
}

h2 {
  font-size: 14px;
  font-weight: 300;
  color: #0fc;
  text-align: left;
  margin: -4px 0px;
}

h3 {
  font-size: 20px;
  font-weight: 300;
  color: #0fc;
  letter-spacing: 2px;
  margin: 2px 0px;
  padding: 2px 0px;
  text-align: center;
}

h4 {
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  color: #666;

  margin-top: -12px;
}

a {
  color: #f0c;
}

div{
  outline: solid 1px #444;
  margin: 16px;
  padding: 16px;
}

::selection {
  color: #0fc;
  background: #999;
}

input, button {
  color: #ccc;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 300;

  background: #111;
  border: solid 1px #666;
  outline: none;
  padding: 8px;
  margin: 16px;
  text-align: left;

  transition-duration: 0.2s;
}

input::-webkit-input-placeholder {
  font-size: 18px;
  color: #666;
  font-style: italic;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul li input{
  width: 1800px;
  list-style: none;
}
ul li button{
  margin-left: 10px;
}

button{
  color: #aaa;
  background: #222;
  margin: 2px 16px;

  transition-duration: 0.2s;
}

button:hover, input:focus{
  /*color: #0fc;*/
  border: solid 1px #0fc;

  transition-duration: 0.2s;
}

button:active {
  color: #222;
  background: #0fc;

  transition-duration: 0.00s;
}



/*************************/
/* Task List Styling     */
/*************************/

#lists-view{
  padding: 32px;
  background: #1c1c1c;
  outline: solid 1px #444;
}

#lists-view .task-completed{
  color: #666;
  font-style: italic;
  text-decoration: line-through;
}

#lists-view .list-title{
  background: #333;
  outline: solid 1px #097;
  padding: 4px 8px;
}

#lists-view li{
  color: #aaa;
  font-size: 14px;
  background: #2c2c2c;
  border-bottom: solid 1px #444;
  padding: 0px 8px;
  display: flex;
}
#lists-view li:hover{
  background: #333;
  outline: solid 1px #097;
}

#lists-view li div{
  margin: 0;
  padding: 0;
  outline: none;
}
#lists-view li .info-date{
  color: #888;
  font-size: 10px;
  text-align: right;
  margin-left: 16px;
}
#lists-view li .info-timedue{
  color: #888;
  font-size: 10px;
  text-align: right;
  margin-left: 16px;
}

.list-view div{
}

/*************************/
/* Task List Styling End */
/*************************/



/*************************/
/* Test Specific Styling */
/*************************/


/* Top Level Testing Container */
#tests{
  padding: 0px;
  margin: 0px;
  background: #222;
  outline: solid 0px #444;
}

.ns-views{
  background: #1c1c1c;
  padding: 16px;
  margin: 0px;
}

#test-title{
  color: #aaa;
  background: #222;
  font-size: 12px;
  text-align: left;
  margin: 0px 16px;
  padding: 0px 16px;
  -webkit-column-span: all;
}

/* Namespace Container */
.ns-view{
  background: #222;
  padding: 16px;
  margin: 16px;
  display: inline-block;
  width: calc(100% - 64px);
}
.ns-title{
  -webkit-column-span: all;
  color: #aaa;
  font-size: 12px;
  margin: 0px;
  margin-bottom: 2px;
  padding: 0px 16px;
  background: #2c2c2c;
}

/* Tests */
.test-name{
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: #0fc;
  width: calc(100% - 48px);
  margin: 0px 0px;
  padding: 2px 0px;
  line-height: 12px;
}

.test-desc{
  text-align: left;
  font-size: 11px;
  font-weight: 300;
  color: #0fc;
  width: calc(100% - 48px);
  margin: 1px 0px;
  padding: 2px 0px;
  line-height: 12px;
}

.status-image{
  float: right;
  margin-top: -34px;
  margin-right: 0px;
}

.passed, .failed{
  padding: 4px 16px;
  margin: 4px 0px;
  display: inline-block;
  /*height: 180px;*/
  width: calc(100% - 32px);
}



/* Passing Tests */

#tests .passed{
  color: #0fc;
  outline: solid 1px #097;
  background: #202927;
}
#tests .passed:hover{ outline-color: #0fc;}

#tests .passed .test-name{
  background: rgba(0, 255, 204, 0.1);
}

#tests .passed .test-desc{
  background: rgba(0, 255, 204, 0.1);
}

.passed .test-row{
  display: none;
}


/* Failing Tests */

#tests .failed{
  color: #f07;
  outline: double 4px #f07;
  background: #2f2227;
}
#tests .failed:hover{ outline-color: #f6a;}

#tests .failed .test-name{
  font-weight: 500;
  color: #f07;
  background: rgba(255, 0, 119, 0.1);
}

#tests .failed .test-desc{
  color: #f07;
  background: rgba(255, 0, 119, 0.1);
}

/* Test Report Elements */
.test-table{
  width: 100%;
  border-spacing: 1px;
  margin: -1px;
  margin-top: 3px;
}

.test-row,
.test-row-title,
.test-row-data{
  font-size: 11px;
  font-family: "Droid Mono", "Courier New", Courier, monospace;
  letter-spacing: 0px;
  color: #ccc;
  background: rgba(255, 255, 255, 0.06);
  padding: 2px 4px;
  margin: 4px 0px;
  width: auto;
}
.test-row:hover{
  background: rgba(255, 255, 255, 0.12);
}

.test-row-title{ width: 72px;}
.test-row-data{ width: auto;}



/*************************/
/* Test Styling End      */
/*************************/



#titlebar {
  margin: 0px 0px 32px 0px;
  padding: 2px 0px 2px 0px;
  background: #1c1c1c;
  outline: solid 1px #444;
  height: 92px;
}

#dash{
  margin: 20px 0px 20px 0px;
  padding: 0px;
  background: none;
}

#powered-by{
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  color: #666;
}

#version {
  font-size: 10px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  color: #444;

  margin-top: -20px;
}

#foot{
}
