/* Color Palette

  Greens:

    Bright: #8ff
    Normal: #0fc
    Dark: #098;
  Reds:
    Bright: #f6a
    Normal: #f07
    Dark: #903
*/



/****************/
/* Main Styling */
/****************/

*{
  -webkit-transition: all 0.1s ease-out;
  outline-offset: -1px;
}

html{
  width: 100%;
  background-color: #222;
  color: #ccc;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;

  text-align: center;
}

body{
  font-size: 14px;
  font-weight: 300;
  color: #aaa;
  padding: 32px;
  margin: 0px;
  text-align: left;
  background-position: center 1px;
}

h1 {
  font-size: 22px;
  font-weight: 300;
  color: #0fc;
  text-align: center;
  letter-spacing: 2px;
  line-height: 24px;
}

h2 {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #0fc;
  text-align: left;
}

h3 {
  font-size: 14px;
  font-weight: 300;
  color: #aaa;
  text-align: center;
}

h4 {
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  color: #666;
  line-height: 1em;
}

p {
  font-weight: 300;
}

a {
  color: #f0c;
}

div{
  outline: solid 1px #444;
  margin: 16px;
  padding: 16px;
}

div .hidden-div{
  margin: 0px;
  padding: 0px;
  outline: none;
}

::selection {
  color: #0fc;
  background: #999;
}

/********************/
/* End Main Styling */
/********************/



/*****************/
/* Input Styling */
/*****************/

input, button {
  color: #ccc;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 300;

  background: #111;
  border: none;
  outline: solid 1px #666;
  padding: 8px;
  margin: 16px;
  text-align: left;

  transition-duration: 0.2s;
}

input::-webkit-input-placeholder {
  font-size: 18px;
  color: #666;
  font-style: italic;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul li input{
  width: 1800px;
  list-style: none;
}
ul li button{
  margin-left: 10px;
}

button{
  color: #aaa;
  background: #222;
  margin: 4px 4px;

  transition-duration: 0.2s;
}

button:hover, input:focus{
  color: #0fc;
  outline: solid 1px #098;

  transition-duration: 0.1s;
}
button:disabled{
  color: #555;
  outline: 1px solid #333;
}
button:disabled:hover{
  outline: 1px solid #333;
}

button:active {
  color: #222;
  background: #0fc;

  transition-duration: 0.00s;
}

/*********************/
/* End Input Styling */
/*********************/



/*************************/
/* Task List Styling     */
/*************************/

#lists-view{
  padding: 32px;
  background: #1c1c1c;
  outline: solid 1px #444;
}

#lists-view .task-completed{
  color: #666;
  font-style: italic;
  text-decoration: line-through;
}

#lists-view .list-title{
  background: #333;
  outline: solid 1px #097;
  padding: 4px 8px;
}

#lists-view li{
  color: #aaa;
  font-size: 14px;
  background: #2c2c2c;
  border-bottom: solid 1px #444;
  padding: 0px 8px;
  display: flex;
}
#lists-view li:hover{
  background: #333;
  outline: solid 1px #097;
}

#lists-view li div{
  margin: 0;
  padding: 0;
  outline: none;
}
#lists-view li .info-date{
  color: #888;
  font-size: 10px;
  text-align: right;
  margin-left: 16px;
}
#lists-view li .info-timedue{
  color: #888;
  font-size: 10px;
  text-align: right;
  margin-left: 16px;
}

.list-view div{
}

/*********************/
/* End Input Styling */
/*********************/



/***************/
/* Tab Styling */
/***************/

.tab{
  margin: 0px;
  margin-top: 16px;
  margin-bottom: -17px;
  margin-left: -1px;
  outline: 1px solid #444;
  background: #1c1c1c;
  color: #666;
  text-align: center;
}

.tab:hover{
  color: #888;
  background: #222;
  outline-color: #666;
}

.tab:first-child{ margin-left: 16px; }
.tab:last-child{ margin-right: 16px; }

.tab:disabled{
  color: #0fc;
  outline-color: #096;
  background: #2c2c2c;
}
.tab:disabled:hover{ outline-color: #096;}

/* Needs more precise and better calculated numbers */
.numtabs-1 { width: calc(100% - 32px); }
.numtabs-2 { width: calc(50% - 15.5px); }
.numtabs-3 { width: calc(33.333% - 10px); }
.numtabs-4 { width: calc(25% - 7.25px); }
.numtabs-5 { width: calc(20% - 5.5px); }
.numtabs-6 { width: calc(16.666% - 4.5px); }
.numtabs-7 { width: calc(14.286% - 3.666px); }
.numtabs-8 { width: calc(12.5% - 3.125px); }

/*******************/
/* End Tab Styling */
/*******************/



/**************************/
/* Begin Titlebar Styling */
/**************************/

#titlebar {
  margin: 0px;
  margin-bottom: 32px;
  padding: 4px 0px;  
  background: #1c1c1c;
  outline: solid 1px #444;
  max-height: 64px;
  text-align: center;
}

#dash-title{
  color: #0fc;
  font-size: 28px;
  height: 30px;
  margin: 1px 0px;
  background: none;
  -webkit-transition: all 1.0s ease-in;
}
#dash-title:hover{
  color: #8ff;
  text-shadow: 0px 0px 8px #0fc;
  -webkit-transition: all 0.5s ease-out;
}

#powered-by{
  font-size: 11px;
  height: 12px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  margin: 1px 0px;
  color: #666;
}

#version {
  font-size: 10px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  color: #444;
  margin: 1px 0px;
}

#dash{
  margin: 0px;
  padding: 16px;
  font-weight: 100;
  background: #1c1c1c;
  height: calc(100% - 128px);
}

#foot{
}
