/* Color Palette

  Greens:

    Bright: #8ff
    Normal: #0fc
    Dark: #098;
  Reds:
    Bright: #f6a
    Normal: #f07
    Dark: #903
*/



/****************/
/* Main Styling */
/****************/

*{
  -webkit-transition: all 0.1s ease-out;
  outline-offset: -1px;
}

html{
  width: 100%;
  background-color: #222;
  color: #ccc;

  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  background-color: #222;
  line-height: 1.2em;
  letter-spacing: 1px;

  text-align: center;
}

body{
  font-size: 14px;
  font-weight: 300;
  color: #aaa;
  padding: 32px;
  margin: 0px;
  text-align: left;
  background-position: center 1px;
}

h1 {
  font-size: 22px;
  font-weight: 300;
  color: #0fc;
  text-align: center;
  letter-spacing: 2px;
  line-height: 24px;
}

h2 {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #0fc;
  text-align: left;
}

h3 {
  font-size: 14px;
  font-weight: 300;
  color: #aaa;
  text-align: left;
  background-position: center 1px;
}

h4 {
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  color: #666;
  line-height: 1em;
}

p {
  font-weight: 300;
}

a {
  color: #f0c;
}

div{
  outline: solid 1px #444;
  margin: 32px;
  padding: 32px;
}

div .hidden-div{
  margin: 0px;
  padding: 0px;
  outline: none;
}
div:hover{ outline-color: #555; }

/*div,
div>div>div,
div>div>div>div>div{ background: #1c1c1c; }

div>div,
div>div>div>div,
div>div>div>div>div>div{ background: #222; }*/

#dash div{ background: #1a1a1a; }
#dash div div{ background: #202020; }
#dash div div div{ background: #242424; }
#dash div div div div{ background: #2a2a2a; }
#dash div div div div div{ background: #303030; }

::selection {
  color: #0fc;
  background: #999;
}

#dash{
  margin: 0px;
  padding: 32px;
  font-weight: 100;
  padding: 0px;
  outline: none;
  background: #1c1c1c;
}
#dash>div{
  margin: 0px;
}

/********************/
/* End Main Styling */
/********************/



/*****************/
/* Input Styling */
/*****************/

input, button {
  color: #ccc;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 300;

  background: #111;
  border: none;
  outline: solid 1px #666;
  padding: 8px;
  margin: 16px;
  text-align: left;

  transition-duration: 0.2s;
}

input::-webkit-input-placeholder {
  font-size: 18px;
  color: #666;
  font-style: italic;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul li input{
  width: 1800px;
  list-style: none;
}
ul li button{
  margin-left: 10px;
}

button{
  color: #aaa;
  background: #222;
  margin: 4px 4px;

  transition-duration: 0.2s;
}

button:hover, input:focus{
  color: #0fc;
  outline: solid 1px #098;

  transition-duration: 0.1s;
}
button:disabled{
  color: #555;
  outline: 1px solid #333;
}
button:disabled:hover{
  outline: 1px solid #333;
}

button:active {
  color: #222;
  background: #0fc;

  transition-duration: 0.00s;
}

/*********************/
/* End Input Styling */
/*********************/



/*************************/
/* Task List Styling     */
/*************************/

#lists-view{
  padding: 32px;
  background: #1c1c1c;
  outline: solid 1px #444;
}

#lists-view .task-completed{
  color: #666;
  font-style: italic;
  text-decoration: line-through;
}

#lists-view .list-title{
  background: #333;
  outline: solid 1px #097;
  padding: 4px 8px;
}

#lists-view li{
  color: #aaa;
  font-size: 14px;
  background: #2c2c2c;
  border-bottom: solid 1px #444;
  padding: 0px 8px;
  display: flex;
}
#lists-view li:hover{
  background: #333;
  outline: solid 1px #097;
}

#lists-view li div{
  margin: 0;
  padding: 0;
  outline: none;
}
#lists-view li .info-date{
  color: #888;
  font-size: 10px;
  text-align: right;
  margin-left: 16px;
}
#lists-view li .info-timedue{
  color: #888;
  font-size: 10px;
  text-align: right;
  margin-left: 16px;
}

.list-view div{
}

/*********************/
/* End Input Styling */
/*********************/



/***************/
/* Tab Styling */
/***************/

.tab-bar{
  margin: 0px -32px;
  padding: 0px;
  outline: 0px;
}
.tab{
  margin: -32px 0px 16px 0px;
  outline: 1px solid #444;
  outline-offset: -1px;
  background: #1c1c1c;
  color: #666;
  text-align: center;
}

.tab:hover{
  color: #888;
  background: #222;
  outline-color: #666;
}

.tab:first-child{  }
.tab:last-child{  }

.tab:disabled{
  color: #0fc;
  outline: 4px double #096;
  outline-offset: -5px;
  background: #2c2c2c;
}
.tab:disabled:hover{ outline: 4px double #097; }

.numtabs-1 { width: 100%; }
.numtabs-2 { width: 50%; }
.numtabs-3 { width: 33.3333%; }
.numtabs-4 { width: 25%; }
.numtabs-5 { width: 20%; }
.numtabs-6 { width: 16.6666%; }
.numtabs-7 { width: 14.2858%; }
.numtabs-8 { width: 12.5% }

/*******************/
/* End Tab Styling */
/*******************/


/**************************/
/* Titlebar Styling */
/**************************/

#titlebar {
  margin: 0px;
  margin-bottom: 32px;
  padding: 5px 0px;  
  background: #1a1a1a;
  outline: solid 1px #444;
  max-height: 64px;
  text-align: center;
}

#dash-title{
  color: #0fc;
  font-size: 28px;
  line-height: 30px;
  background: none;
  -webkit-transition: all 1.0s ease;
}
#dash-title:hover{
  color: #8ff;
  text-shadow: 0px 0px 8px #0fc;
  -webkit-transition: all 0.25s ease;
}

#powered-by{
  color: #666;
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}

#version {
  color: #444;
  font-size: 8px;
  line-height: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}

/************************/
/* End Titlebar Styling */
/************************/

#foot{
}
